/*
public stayle
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Alegreya";
    font-weight: normal;
    opacity: 1;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.clrfix{
    clear: both;
}
.float-item{
    float: left;
    width: 50%;  
}
.container{
    width: 100%;
    margin: auto;
}
.header{
    background-image: url("../img/shutterstock_277750193.jpg");
    height: 100vh;
    background-size: cover;
    text-align: center;
   
   
}

.navbar{
    padding: 50px;
    position: fixed;
    top: 0;
   left: 0;
    width: 100%;
    margin: auto;
    
    
}
.nav{
    
float: left;
width: 65%;   



}
.logo-dark {
    visibility:hidden;
}
.logo{
    
    float: left;
    width: 35%;    
    }
    .logo img{
        width: 30%;
    }

 .nav ul li{
  
    display: inline-block;
    width: 80px;
    
 }   
 .nav ul li a{
font-size:large;
    color: #fff;
 }
 @media screen and (max-width:844px){
    .navbar{
        padding: 0px;
        padding-top: 5px;
       
        position: none;
        background-color: #f8f8f8;
        color: #000;
     
    }
        
        
    
    .nav{
   
        float: none;
        width: 100%;     
        text-align: center;
      padding-bottom: 10px;
        }
        .logo-dark {
            visibility:visible;
            text-align: center;
            width: 100%;      
            position:relative;
            margin-right: 90px;

        }
        .logo{         
        float: none;
        visibility: hidden;
            width: 100%;    
            margin-bottom: 10px;
            }

            .nav ul li{
                width: auto;
               
                
                
             }  
    .nav ul li a{
        font-size:11px;
        color: #000;
            width: 100%;
            padding: 10px;
           
         }

 }

 .header-content{
    color: #fff;
 }
 .header-content img{
    margin-top: 20vh;
 }
 .header-content h1{
    font-size: 70px;
    margin-bottom: 30px;
 }
 .header-content p{
    font-size: 40px;
    margin-bottom: 30px;
    font-family: "Dancing Script";
 
 }
 .header-content button{
  padding: 15px 30px;
  border: white;
  border-radius: 5px;
  margin: 5px;
  
 }
 @media screen and (max-width:567px){

    .header-content img{
        width: 60%;
        margin-top: 25vh;
    }
    .header-content h1{
        font-size: 24px;
        margin-bottom: 10px;
     }
     .header-content p{
        font-size: 18px;
        margin-bottom: 40px;
     }
     .header-content button{
      padding: 12px 22px;
      border: white;
      border-radius: 5px;
   
      
     }

 }

 .header-content .learn-more{
background-color: #c1ab84;
color: #fff;
cursor: pointer;



 }
 .learn-more:hover{

    background-color: #fff;
    color: #000;
 }
 .overlay{
    background-color: rgba(0, 0, 0,0.4);
    height: 100vh;
 }

 /**/
 .about{
    background-color:#ffffff;
    color: #858585;
 }
 .chef-img{
    width: 50%;
    padding:5%;
 }
 
 .about-content{
    width: 50%;
    padding: 5%;
    
   
 }
 .h2-style{
    font-family: "Alegreya";
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 30px;
    color: #000;
 }
 .h3-style{
    font-size: 28px;
    margin-bottom: 30px;
    color: #c1ab84;
    font-family: "Dancing Script";
 }
 .p-style{
    font-family: "Alegreya";
    font-size: 20px;
   line-height: 1.2;
    margin-bottom: 30px;
    color: #858585;
 }
 .icon-list  li{
padding: 10px;
margin: 10px;
 }

 .icon-list  li i{
    font-size:18px;
        color: #fff;
        padding: 15px ;
        background-color: #c1ab84;
        border-radius: 40px;
        color: #f8f8f8; 
        margin-right: 10px;

     }

     @media screen and (max-width:844px){
        .about-content{
           
            padding-top: 10%;
            
           
         }
        .chef-img img{
            width: 100%;
            
           
         }
         .h2-style{
            font-size: 22px;
            margin-bottom: 15px;
          
         }
         .h3-style{
            font-size: 16px;
            margin-bottom: 15px;
            
         }
        
         .p-style{
            font-size: 11px;
           line-height: 1.3;
            margin-bottom: 15px;
           
         }
         .icon-list  li{
           padding: 0px;
           margin: 0px;
           margin-bottom: 5px;
           padding-top: 5px;
             }

         .icon-list  li i{
            font-size:10px;
            
                color: #fff;
                padding: 4px ;
                background-color: #c1ab84;
                border-radius: 40px;
                color: #f8f8f8; 
                
        
             }

     }
 .reviewe{
    background-color: #f8f8f8;
    color: #858585;
 }
 .reviewe-content{
    width: 50%;
    padding: 5%;
 }
.Where-are-we{
    background-color: #f8f8f8;
    color: #858585;
}


 .reviewe-img{
    width: 50%;
    padding: 5%;
 }
 .reviewe-img img{
    width: 90%;
    margin: 20px;
 }

 @media screen and (max-width:844px){
    .reviewe{
        padding-top: 10%;
     }
    
    .reviewe-img{
        width: 50%;
        padding: 1%;
     }
    .reviewe-img img{
        width: 100%;
        
     }

 }

 .shutterstock{

    background-image: url(../img/shutterstock_280369721.jpg);
    height: 80vh;
    background-size: cover;
   background-position:  30%;
 }
.h4-style{
    padding: 10px;
    font-size: 20px;
}
 /**/
 .dishes{
   
   width: 100%;
   padding: 5%;
   text-align: center;
 }
 .prodects{
    width: 100%;
   
    
 }
 .dishes .float-item{
    width: 33%;
    padding: 2%;
 }
 .dishes .float-item img{
    width: 100%;
  
 }
 .dishe{
    padding: 20px;
 }


 .lists{
    background-color: #403d38;
    color: #a4a4a2;
    padding: 5%;
 }
 .lists h3{
    margin-bottom: 25px;
    color: #f8f8f8;
 }
 .section{
    padding: 20px;
 }
.lists .container .float-item {
    width: 25%;
}
.lists ul li{
  margin-bottom: 5px;

    width: 100%;
   padding: 15px;
    border-bottom: 1px solid #5b5b5b;
    
    
 }  
.lists a{
   
    color: #a4a4a2;

}
.h3-list-style{
    font-size: 28px;
    margin-bottom: 30px;
    color: #c1ab84;
  
}
@media screen and (max-width:576px){
    .map-img iframe{
        width: 200px;
        height: 300px;
        
    }
    .h3-list-style{
        font-size: 16px;
        margin-bottom: 15px;
      
    }
}



@media screen and (max-width:576px){
    .email{
        font-size: 11px;
    }
    .lists{
      width: 100%;
        padding: 5px;
        padding-top: 20px;
     }
    .lists h3{
        font-size:16px ;
        margin-bottom: 20px;
       
       
     }
     .list-p{
        padding-top: 15px;
     }
     .section{
        padding: 6px;
     }
    .lists .container .float-item {
        width: 25%;
    }
    .lists ul li{
      margin-bottom: 1px;
    
        width: 100%;
       padding: 0px;
        border-bottom: 0px solid #5b5b5b;
        
        
     }  
    .lists a{
       
        color: #a4a4a2;
    
    }

}


.footer{
    height: auto;
    padding: 50px;
    background-color: #353330;
    text-align: center;
}
 .footer-list{
    margin-top: 30px;
 }
.footer  ul li{
  
    display: inline-block;
    width: 100px;
    
 }   
 .Copyright{
    font-size: 18px;
margin-bottom: 25px;
color: #878581;
 }
 .footer  ul li a{
font-size:18px;
    color: #fff;
    padding:  16px 20px;
    background-color: #484540;
    border-radius: 65px;
    color: #878581;
 }

 @media screen and (max-width:576px){
    .footer img{
        width: 50%;
    }
  
 .footer-list{
    margin-top: 20px;
 }
.footer  ul li{
  
    display: inline-block;
    width: 50px;
    
 }   
 .Copyright{
    font-size: 12px;
margin-bottom: 25px;

 }
 .footer  ul li a{
font-size:12px;
   
    padding: 10px 13px;
  
    border-radius: 100px;
    
 }
 }